<div class="loginMainBlock">
  <div class="loginLogo"><img src="assets/logo.png" width="101"></div>
  <div class="loginHeader">
    <span style="color:rgb(135, 36, 49)">ELITE's&nbsp;</span> <span style="color: white"> History & Corporate Vision & Mission </span>
  </div>
  <div class="loginInfo">
    Elite stands at the leading edge of the logistics process outsourcing and freight management industry, a position gained through a
    <br />
    combination of dynamic technology tools, close involvement with the clients and uncompromising dedication to serve our customers. As
    <br />
    a Global Logistics Provider, our core businesses involves providing key supply chain services to our customers.
  </div>

  <div class="mainBlockAfter">
    <div class="loginMain">
      <div class="show-1 txt">
        <div class="show-2 txt-show">
          <div class="show-2 select-show">
            <div class="show-2 select-show1">
              <div class="loginUserName" [style.marginLeft.px]="userNameMarginLeft">
                <div class="group" style="width:200px">
                  <input class="loginInput" type="text" [(ngModel)]="userName" name="userName"><span class="highlight"></span><span class="bar"></span>
                  <label class="loginLabel">User ID</label>
                </div>
              </div>
              <div class="loginPassword" >
                <div class="group" style="width:200px">
                  <input class="loginInput" type="password" [(ngModel)]="password" name="password"><span class="highlight"></span><span class="bar"></span>
                  <label  class="loginLabel">Password</label>
                </div>
              </div>
              <div class="loginDatabase">
                <div class="groupDropDown" style="width:202px">
                <!-- <div class="groupDropDown" style="width:191px"> -->
                  <p-dropdown [options]="region" [(ngModel)]="selectCustomerRegion" name="selectCustomer" [style]="{'width': '192px','box-shadow':'0px 0px 0px white','background':'white','font-size':'12px','margin-top':'9.5px','border':'1px solid #ffffff','color':'$egrayfieldlabel'}"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="button" value="SIGN IN" class="btn" (click)="login()"/>
      </div>
    </div>
    <div style="height:40px"></div>
    <div class="loginStatus">
      &nbsp;
      {{loginStatus}}
    </div>
  </div>
</div>
